<div class="uk-flex
uk-flex-center
uk-flex-middle
uk-height-viewport
uk-position-z-index
uk-position-relative"
  data-uk-height-viewport="min-height: 400">
  <!-- NAV -->
  <div class="uk-position-top">
    <div class="uk-container uk-container-small">
      <nav class="uk-navbar-container uk-navbar-transparent" data-uk-navbar>
        <div class="uk-navbar-center">
          <div class="uk-navbar-item">
            <a class="uk-logo" href="/home"><img src="../../../assets/img/logo_capiconf.svg" alt="Logo"></a>
          </div>
        </div>
        <!-- <div class="uk-navbar-right">
          <ul class="uk-navbar-nav">
            <li class="uk-visible@s"><a href="/about">CONHEÇA O EVENTO</a></li>
            <li class="uk-visible@s"><a href="/speakers">PALESTRANTES</a></li>
            <li class="uk-visible@s"><a href="/agenda">AGENDA</a></li>
            <li class="uk-visible@s"><a href="/partners">Patrocínio e Apoio</a></li>
            <li class="uk-visible@s"><a href="/help">AJUDA</a></li>
            <li><a class="uk-navbar-toggle" data-uk-toggle data-uk-navbar-toggle-icon href="#offcanvas-nav"></a></li>
          </ul>
        </div> -->
      </nav>
    </div>
  </div>
  <!-- /NAV -->
  <!-- TEXT -->
  <div class="uk-container uk-container-small uk-flex-auto uk-text-center" data-uk-scrollspy="target: > .animate; cls: uk-animation-slide-bottom-small uk-invisible; delay: 300">
      <div class="uk-width-4-5@m uk-margin-auto animate uk-invisible">
          <p class="lead">10 e 11 de Maio, 2019</p>
        </div>
    <h1 class="uk-heading-primary animate uk-invisible" style="font-weight: 700;">O maior encontro de desenvolvedores do Paraná.</h1>
    <div class="uk-width-4-5@m uk-margin-auto animate uk-invisible">
      <p class="lead">Dois dias de troca de conhecimento, cultura e discussões sobre desenvolvimento!</p>
    </div>
    <div class="uk-margin-medium-top animate uk-invisible" data-uk-margin data-uk-scrollspy-class="uk-animation-fade uk-invisible">
      <a class="uk-button uk-button-default uk-button-large uk-width-2-3 uk-width-auto@s"
      data-uk-icon="microphone"
        title="Participe do nosso Call 4 Papers"
        href="http://bit.ly/capiconf-2019-c4p">QUERO PALESTRAR</a>
      <a class="uk-button uk-button-primary uk-button-large uk-width-2-3 uk-width-auto@s" data-uk-icon="check"
      title="Quero fazer a minha inscrição logo!" href="http://bit.ly/capiconf-2019-inscricao">QUERO ME INSCREVER</a>
    </div>
  </div>
  <!-- /TEXT -->
  <!-- FOOT -->
  <div class="uk-position-bottom-center uk-position-small">
  </div>
  <!-- /FOOT -->
</div>
<!-- OFFCANVAS -->
<!-- <div id="offcanvas-nav" data-uk-offcanvas="flip: true; overlay: false">
  <div class="uk-offcanvas-bar uk-offcanvas-bar-animation uk-offcanvas-slide">
    <button class="uk-offcanvas-close uk-close uk-icon" type="button" data-uk-close></button>
    <ul class="uk-nav uk-nav-default">
      <li class="uk-active"><a href="#">#CapiConf 2019</a></li>
      <li class="uk-parent">
        <a href="/about">Conheça o Evento</a>
        <ul class="uk-nav-sub">
          <li><a href="#">Motivação</a></li>
          <li><a href="#">Organização</a></li>
          <li><a href="#">Paricipe do #CapiCoders</a></li>
          <li><a href="#">Localização</a></li>
        </ul>
      </li>
      <li class="uk-active"><a href="/speakers">Palestrantes</a></li>
      <li class="uk-active"><a href="/agenda">Agenda</a></li>
      <li class="uk-active"><a href="/partners">Patrocínio e Apoio</a></li>
      <li class="uk-active"><a href="/help">Ajuda</a></li>
      <li class="uk-active"><a href="/coc">Código de Conduta</a></li>
    </ul>
    <h3>Inscrições abertas</h3>
    <p>Você não pode perder o #CapiConf 2019, ele vem cheio de oportunidades de aprendizado e networking! Garanta seu ingresso com desconto comprando antecipadamente.</p>
  </div>
</div> -->
<!-- /OFFCANVAS -->
