.wrap::before {
    position: absolute;
    height: 100vh;
    width: 100vw;
    content: '';
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .lead {
    font-size: 1.175em;
    font-weight: 300;
  }

  .uk-button-primary-speakers {
    background-color: #35096A !important;
    color: #FFF !important;
}