<app-navbar></app-navbar>
<!-- HERO -->
<section class="uk-section uk-section-large uk-section-secondary uk-margin-top capiconf-uk-cover">
  <div class="uk-container uk-container">
    <h1>Agenda</h1>
    <p class="uk-text-large">Uma agenda para nenhuma capivara botar defeito ;)</p>
  </div>
</section>
<!-- HERO -->
<section class="uk-section uk-article uk-section-small">
  <div class="uk-container uk-container">
    <h2 class="uk-text-bold uk-h1 uk-margin-remove-adjacent uk-margin-remove-top">O que você pode esperar das Palestras?</h2>
    <p class="uk-text-lead">Cases do mundo real apresentados por palestrantes com experiências práticas, que
      realmente participaram das soluções apresentadas.</p>
    <h2 class="uk-margin-left uk-margin-right uk-text-center">Agenda Dia 01, Sexta-feira 10 de Maio</h2>
    <p class="uk-text-center"><i class="uk-text-meta capiconf-text ">
        * Sujeita a alterações sem aviso previo!
      </i></p>
    <div class="uk-flex uk-flex-center uk-margin-top">
      <table class="uk-table uk-margin-left uk-margin-right">
        <caption></caption>
        <thead>
            <tr>
                <th width="17%"><span uk-icon="icon: clock"></span></th>
                <th width="83%" class="uk-text-center">Programação Auditório Principal</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><h4 class="uk-margin-small-top">08h00 às 08h40</h4></td>
                <td>
                    <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-margin-small">
                        <div class="uk-card-body">
                            <h5 class="uk-card-title uk-margin-remove-bottom">
                                Credenciamento e Welcome Coffee
                            </h5>
                          <p class="uk-margin-remove-top">Durante o credenciamento os participantes serão recebidos com um delicioso Welcome Coffee.</p>
                        </div>
                      </div>
                </td>
            </tr>
            <tr>
                <td><h4 class="uk-margin-small-top">08h40	às 09h10</h4></td>
                <td>
                    <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-margin-small">
                        <div class="uk-card-body">
                            <h5 class="uk-card-title uk-margin-remove-bottom">
                                Abertura do Evento
                            </h5>
                          <p class="uk-margin-remove-top">Boas vindas por parte dos organizadores e patrocinadores e informações sobre funcionamento do evento.</p>
                        </div>
                      </div>
                </td>
            </tr>
            <tr>
                <td><h4 class="uk-margin-small-top">09h20	às	10h00</h4></td>
                <td>
                    <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-margin-small">
                        <div class="uk-card-body">
                            <h5 class="uk-card-title uk-margin-remove-bottom">
                                O protagonismo do usuário
                            </h5>
                          <p class="uk-margin-remove-top">Como a integração do design do produto, growth marketing e customer success contribui na experiência do usuário.</p>
                        </div>
                        <div class="uk-card-footer">
                            <b>
                                Sergio Coelho
                            </b>
                        </div>
                      </div>
                </td>
            </tr>
            <tr>
                <td><h4 class="uk-margin-small-top">10h10	às	10h50</h4></td>
                <td>
                    <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-margin-small">
                        <div class="uk-card-body">
                            <h5 class="uk-card-title uk-margin-remove-bottom">
                                Como será o SEU software no futuro?
                            </h5>
                          <p class="uk-margin-remove-top">Hoje temos acesso a uma infinidade de tecnologias, ferramentas, frameworks, capacidade computacional, devices, wearables, etc... mas o que mudou no seu software? o que você está usando de tudo isso de fato? Nessa palestra abordaremos temas diversos relacionados a oportunidades para nós desenvolvedores criarmos os próximos softwares que vão de fato mudar o mundo.</p>
                        </div>
                        <div class="uk-card-footer">
                            <b>
                                Alexandre Tarifa
                            </b>
                        </div>
                      </div>
                </td>
            </tr>
            <tr>
                <td><h4 class="uk-margin-small-top">
                  11h00	às	12h00
                </h4></td>
                <td>
                    <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-margin-small">
                        <div class="uk-card-body">
                            <h5 class="uk-card-title uk-margin-remove-bottom">
                                Organizando seu código com Marrie Kondo
                            </h5>
                          <p class="uk-margin-remove-top">
                            Será que precisamos realmente construir os nossos sistemas do zero? Venha aprender técicas simples que farão seu legado te trazer alegria
                          </p>
                        </div>
                        <div class="uk-card-footer">
                            <b>
                                Alexandre Santos Costa
                            </b>
                        </div>
                      </div>
                </td>
            </tr>
             <tr>
                <td><h4 class="uk-margin-small-top">12h00	às	13h00</h4></td>
                <td>
                    <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-margin-small">
                        <div class="uk-card-body">
                            <h5 class="uk-card-title uk-margin-remove-bottom">
                                Almoço
                            </h5>
                          <p class="uk-margin-remove-top">Intervalo para o almoço livre.</p>
                        </div>
                      </div>
                </td>
            </tr>
            <tr>
                <td><h4 class="uk-margin-small-top">
                    13h00	às	13h40
                </h4></td>
                <td>
                    <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-margin-small">
                        <div class="uk-card-body">
                            <h5 class="uk-card-title uk-margin-remove-bottom">
                                Inovação e Criação de Experiências Disruptivas pro Usuário
                            </h5>
                          <p class="uk-margin-remove-top">
                              Com o que temos de tecnologias disponíveis atualmente é possível proporcionar experiências incríveis para os usuários. Não há limites para a criação e desenvolvimento de SW. Porém, é preciso usar bem a cabeça e validar com o público esperado para se criar um momento WOW para sua solução ou startup.
                          </p>
                        </div>
                        <div class="uk-card-footer">
                            <b>
                                Glauter Jannuzzi
                            </b>
                        </div>
                      </div>
                </td>
            </tr>
            <tr>
                <td><h4 class="uk-margin-small-top">
                    13h50	às	14h30
                </h4></td>
                <td>
                    <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-margin-small">
                        <div class="uk-card-body">
                            <h5 class="uk-card-title uk-margin-remove-bottom">
                                Como construir software sustentável
                            </h5>
                          <p class="uk-margin-remove-top">
                              Nesta palestra irei contar como programação funcional, testes e arquitetura hexagonal ajudam o nubank a ter um codebase sustentável.
                          </p>
                        </div>
                        <div class="uk-card-footer">
                            <b>
                                Carolina Pascale Campos
                            </b>
                        </div>
                      </div>
                </td>
            </tr>
            <tr>
                <td><h4 class="uk-margin-small-top">
                    14h40	às	15h20
                </h4></td>
                <td>
                    <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-margin-small">
                        <div class="uk-card-body">
                            <h5 class="uk-card-title uk-margin-remove-bottom">
                                Como transformar o mindset de engenheiros para ter foco no cliente  através de alinhamento de propósito.
                            </h5>
                          <p class="uk-margin-remove-top">
                              Times de engenharia sem propósito e sem empatia com o consumidor trazem conflito entre setores, baixa produtividade e turn-over alto. Não é fácil mudar esse resultado e é necessário ajustar diversas variáveis para conseguir. Como não tratar engenheiros como crianças e fazer eles comprarem o valor a ser entregue ao consumidor final em situações em que não se tem visão completa do planejamento estratégico e em ambientes altamente dinâmicos é meu foco de estudo e atuação a alguns anos.
                          </p>
                        </div>
                        <div class="uk-card-footer">
                            <b>
                                Liciane Andreatta
                            </b>
                        </div>
                      </div>
                </td>
            </tr>
            <tr>
                <td><h4 class="uk-margin-small-top">15h20	às	16h00</h4></td>
                <td>
                    <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-margin-small">
                        <div class="uk-card-body">
                            <h5 class="uk-card-title uk-margin-remove-bottom">
                                Coffee-break e Networking
                            </h5>
                          <p class="uk-margin-remove-top">Uma pequena pausa para você esticar as pernas, tomar um café e conhecer novas pessoas ;)</p>
                        </div>
                      </div>
                </td>
            </tr>
            <tr>
                <td><h4 class="uk-margin-small-top">
                    16h00	às	16h40
                </h4></td>
                <td>
                    <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-margin-small">
                        <div class="uk-card-body">
                            <h5 class="uk-card-title uk-margin-remove-bottom">
                                Gestão de segredos com Vault no Kubernetes
                            </h5>
                          <p class="uk-margin-remove-top">
                              Vault é uma ferramenta que faz a gestão de segredos, e funciona muito bem quando integrada ao Kubernetes. Nesta palestra você vai aprender como utilizar o Vault para criar as credenciais de um banco de dados sob demanda, fazer a rotação dessas credenciais, acessá-las de uma aplicação, tudo integrado ao Kubernetes.
                          </p>
                        </div>
                        <div class="uk-card-footer">
                            <b>
                                Giovanni Bassi
                            </b>
                        </div>
                      </div>
                </td>
            </tr>
            <tr>
                <td><h4 class="uk-margin-small-top">
                    16h50	às	17h30
                </h4></td>
                <td>
                    <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-margin-small">
                        <div class="uk-card-body">
                            <h5 class="uk-card-title uk-margin-remove-bottom">
                                Ciência de dados na linha de comando
                            </h5>
                          <p class="uk-margin-remove-top">
                              Apesar de muito poderosa, a interface de linha de comando nem sempre é conhecida profundamente por desenvolvedores e por isso é bastante subutilizada. Nesse contexto, existem diversos programas que podem auxiliar e agilizar o dia-a-dia de uma cientista de dados: alguns antigos, que mimetizam os criados pelo UNIX no fim da década de 60 até mais modernos, que interagem com novos formatos de dados e protocolos. Nessa palestra será apresentada uma introdução à linha de comando (para os que não conhecem) e também diversas ferramentas (todas livres) que são úteis para baixar, converter, limpar e analisar dados, incluindo uma criada pelo próprio palestrante, chamada rows.
                          </p>
                        </div>
                        <div class="uk-card-footer">
                            <b>
                                Álvaro Fernandes de Abreu Justen
                            </b>
                        </div>
                      </div>
                </td>
            </tr>
            <tr>
                <td><h4 class="uk-margin-small-top">
                    17h40	às	18h20
                </h4></td>
                <td>
                    <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-margin-small">
                        <div class="uk-card-body">
                            <h5 class="uk-card-title uk-margin-remove-bottom">
                                O que você precisa saber para ser dev de sucesso?
                            </h5>
                          <p class="uk-margin-remove-top">
                              Trabalhar na área de desenvolvimento nem sempre é uma tarefa fácil. Lidar com muitas linguagens, muito código, muitas vagas, mas poucas que realmente parecem bater com a sua expertise, diversas áreas dentro da própria área de desenvolvimento. O que podemos fazer para começar com pé direito na área e depois se manter sendo interessante para o mercado?
                          </p>
                        </div>
                        <div class="uk-card-footer">
                            <b>
                                Rodrigo "pokemaobr" Cardoso
                            </b>
                        </div>
                      </div>
                </td>
            </tr>
            <tr>
                <td><h4 class="uk-margin-small-top">18h30	às	18h50</h4></td>
                <td>
                    <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-margin-small">
                        <div class="uk-card-body">
                            <h5 class="uk-card-title uk-margin-remove-bottom">
                                Encerramento
                            </h5>
                          <p class="uk-margin-remove-top">Agradecimentos e sorteios</p>
                        </div>
                      </div>
                </td>
            </tr>
        </tbody>
      </table>
    </div>
    <h2 class="uk-margin-left uk-margin-right uk-text-center">Agenda Dia 02, Sábado 11 de Maio</h2>
    <p class="uk-text-center"><i class="uk-text-meta capiconf-text ">
        * Sujeita a alterações sem aviso previo!
      </i></p>
    <div class="uk-flex uk-flex-center uk-margin-top">
      <table class="uk-table uk-margin-left uk-margin-right">
        <caption></caption>
        <thead>
            <tr>
                <th width="17%"><span uk-icon="icon: clock"></span></th>
                <th width="28%" class="uk-text-center">AUDITÓRIO</th>
                <th width="28%" class="uk-text-center">TRILHA A</th>
                <th width="28%" class="uk-text-center">TRILHA B</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><h4 class="uk-margin-small-top">08h00 às 08h40</h4></td>
                <td colspan="3">
                    <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-margin-small">
                        <div class="uk-card-body">
                            <h5 class="uk-card-title uk-margin-remove-bottom">
                                Credenciamento e Welcome Coffee
                            </h5>
                          <p class="uk-margin-remove-top">Durante o credenciamento os participantes serão recebidos com um delicioso Welcome Coffee.</p>
                        </div>
                      </div>
                </td>
            </tr>
            <tr>
                <td><h4 class="uk-margin-small-top">08h40	às 09h10</h4></td>
                <td colspan="3">
                    <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-margin-small">
                        <div class="uk-card-body">
                            <h5 class="uk-card-title uk-margin-remove-bottom">
                                Abertura do Evento
                            </h5>
                          <p class="uk-margin-remove-top">Boas vindas por parte dos organizadores e patrocinadores e informações sobre funcionamento do evento.</p>
                        </div>
                      </div>
                </td>
            </tr>
            <tr>
                <td><h4 class="uk-margin-small-top">09h20	às	10h00</h4></td>
                <td>
                    <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-margin-small">
                        <div class="uk-card-body">
                            <h5 class="uk-card-title uk-margin-remove-bottom">
                                Empreendedorismo e Liderança para Bons Programadores
                            </h5>
                          <p class="uk-margin-remove-top">Você adora "codar". Tem prazer em ficar focado por horas (sem ser interrompido, de preferência) escrevendo linhas de código para então, ver seu lindo software rodando (não de primeira, claro). Mas agora se viu em uma situação que exige habilidades que não tem tanta familiaridade: liderar um time! Você está começando uma jornada como empreendedor ou, quem sabe, seu time já te vê como líder e você nem percebeu, mas precisa assumir a posição. Qual a melhor forma de lidar com estas situações?</p>
                        </div>
                        <div class="uk-card-footer">
                            <b>
                                Fabio Bacarin
                            </b>
                        </div>
                      </div>
                </td>
                <td>
                    <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-margin-small">
                        <div class="uk-card-body">
                            <h5 class="uk-card-title uk-margin-remove-bottom">
                               Como aplicações event-driven podem ajudar a implementar uma arquitetura multi-cloud.
                            </h5>
                          <p class="uk-margin-remove-top">O que é o padrão orientado à eventos; E como ele facilita a utilização e integração entre vários provedores de Cloud Computing e plataformas SaaS.</p>
                        </div>
                        <div class="uk-card-footer">
                            <b>
                                André Farias
                            </b>
                        </div>
                      </div>
                </td>
                <td>
                    <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-margin-small">
                        <div class="uk-card-body">
                            <h5 class="uk-card-title uk-margin-remove-bottom">
                                TDD x UI: Quando? Como? Por quê?
                            </h5>
                          <p class="uk-margin-remove-top">Palestra de cunho técnico e comportamental. A ideia é explorar uma situação cotidiana de um desenvolvedor frontend e exemplificar como uma abordagem TDD pode lhe beneficiar. Os exemplos serão realizados principalmente em React, mas a intenção é conversar com todos independente da tecnologia utilizada.
                            </p>
                        </div>
                        <div class="uk-card-footer">
                            <b>
                                Gustavo Camargo Bini
                            </b>
                        </div>
                      </div>
                </td>
            </tr>
            <tr>
                <td><h4 class="uk-margin-small-top">10h10	às	10h50</h4></td>
                <td>
                    <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-margin-small">
                        <div class="uk-card-body">
                            <h5 class="uk-card-title uk-margin-remove-bottom">
                                Como será o SEU software no futuro?
                            </h5>
                          <p class="uk-margin-remove-top">Como a programação pode ajudar jornalistas e a sociedade a encontrar pautas importantes? Com uso de Python para raspagem e análise de dados, um grupo de jornalistas conseguiu descobrir falta de sigilo por parte da justiça federal e até mesmo analisar o sentimento dos torcedores brasileiros no Twitter durante a Copa do Mundo, além de outros reportagens. Nesta palestra vamos falar sobre o uso de programação no jornalismo para a descoberta de reportagens relevantes para a sociedade.</p>
                        </div>
                        <div class="uk-card-footer">
                            <b>
                                Judite Macedo Cypreste
                            </b>
                        </div>
                      </div>
                </td>
                <td>
                    <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-margin-small">
                        <div class="uk-card-body">
                            <h5 class="uk-card-title uk-margin-remove-bottom">
                                Como reescrevi meus apps iOS e Android em 1 noite usando Xamarin e TDD
                            </h5>
                          <p class="uk-margin-remove-top">Você já deve ter ouvido falar que testes automatizados são importantes para uma aplicação, mas também já pode ter ouvido que escrever testes pode te deixar menos produtivo, pelo menos no início. Imagine o impacto disso em um ecossistema que já é complicado: Mobile para iOS e Android. Até que ponto isso é verdade? A partir de quando escrever testes compensa no mundo real? Graças a uma boa suite de testes escrita em C# e a utilização de Xamarin, eu fui capaz de reescrever meus apps iOS e Android inteiros em 1 noite, com 0 reports de bugs ou crashes.</p>
                        </div>
                        <div class="uk-card-footer">
                            <b>
                                Mahmoud Ali
                            </b>
                        </div>
                      </div>
                </td>
                <td>
                    <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-margin-small">
                        <div class="uk-card-body">
                            <h5 class="uk-card-title uk-margin-remove-bottom">
                                Componentização no Front-end
                            </h5>
                          <p class="uk-margin-remove-top">Como reutilizar tags, reduzir o tamanho de um página html, isolamento da estilização. Criando componentes personalizados e facilmente atualizáveis.
                            </p>
                        </div>
                        <div class="uk-card-footer">
                            <b>
                                Demys Cota de Lima
                            </b>
                        </div>
                      </div>
                </td>
            </tr>
            <tr>
                <td><h4 class="uk-margin-small-top">
                  11h00	às	12h00
                </h4></td>
                <td>
                    <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-margin-small">
                        <div class="uk-card-body">
                            <h5 class="uk-card-title uk-margin-remove-bottom">
                                Abraçando o legado
                            </h5>
                          <p class="uk-margin-remove-top">
                              Somos desenvolvedores de software e é de nossa natureza construir coisas novas. Sempre corremos atrás da nova revolução. Queremos reescrever todo o código, trocar o antigo pelo novo, ideal, estado da arte. Teríamos coragem para abraçar um caminho de evolução?
                          </p>
                        </div>
                        <div class="uk-card-footer">
                            <b>
                                Kalecser Kurtz
                            </b>
                        </div>
                      </div>
                </td>
                <td>
                    <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-margin-small">
                        <div class="uk-card-body">
                            <h5 class="uk-card-title uk-margin-remove-bottom">
                                Xamarin no mundo real: Caso de estudo do aplicativo do Toggl
                            </h5>
                          <p class="uk-margin-remove-top">
                            Aguarde!
                          </p>
                        </div>
                        <div class="uk-card-footer">
                            <b>
                                William Barboasa
                            </b>
                        </div>
                      </div>
                </td>
                <td>
                    <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-margin-small">
                        <div class="uk-card-body">
                            <h5 class="uk-card-title uk-margin-remove-bottom">
                                UX for Dev's - A experiência é para todos!
                            </h5>
                          <p class="uk-margin-remove-top">
                              Irei explicar a origem do termo UX, como ele é aplicado hoje em dia, como os desenvolvedores podem aplicar e dar exemples de onde aplicar! Passar o conhecimento e entendimento que a experiência centrada no usuário é dever de todos e direito do usuário!
                          </p>
                        </div>
                        <div class="uk-card-footer">
                            <b>
                                Bruno Augusto Lins Mescouto
                            </b>
                        </div>
                      </div>
                </td>
            </tr>
             <tr>
                <td><h4 class="uk-margin-small-top">12h00	às	13h00</h4></td>
                <td colspan="3">
                    <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-margin-small">
                        <div class="uk-card-body">
                            <h5 class="uk-card-title uk-margin-remove-bottom">
                                Almoço
                            </h5>
                          <p class="uk-margin-remove-top">Intervalo para o almoço livre.</p>
                        </div>
                      </div>
                </td>
            </tr>
            <tr>
                <td><h4 class="uk-margin-small-top">
                    13h00	às	13h40
                </h4></td>
                <td>
                    <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-margin-small">
                        <div class="uk-card-body">
                            <h5 class="uk-card-title uk-margin-remove-bottom">
                                Cultura DevOps - Transcendendo a Tecnologia!
                            </h5>
                          <p class="uk-margin-remove-top">
                              Muito se fala em DevOps, mas pouco se comenta sobre a cultura que sustenta todo o desenvolvimento, a infraestrutura e a qualidade de entrega. Nessa palestra vou apresentar a importância da Cultura DevOps numa Transformação Ágil.
                          </p>
                        </div>
                        <div class="uk-card-footer">
                            <b>
                                Annelise Gripp
                            </b>
                        </div>
                      </div>
                </td>
                <td>
                    <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-margin-small">
                        <div class="uk-card-body">
                            <h5 class="uk-card-title uk-margin-remove-bottom">
                                Compartilhando e acelerando com módulos em aplicações Android
                            </h5>
                          <p class="uk-margin-remove-top">
                              As aplicações mobile a cada dia vem incorporando ou compartilhando grandes funcionalidades com outras aplicações, e para facilitar o nosso dia-a-dia podemos modularizar as aplicações em libraries, features e bundles. Nessa talk vou mostrar quais os tipos de modularização disponíveis para aplicações Android e qual foi a estratégia que utilizamos na MaxMilhas para compartilhar features entre aplicações.
                          </p>
                        </div>
                        <div class="uk-card-footer">
                            <b>
                                Felipe Arimateia Terra Souza
                            </b>
                        </div>
                      </div>
                </td>
                <td>
                    <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-margin-small">
                        <div class="uk-card-body">
                            <h5 class="uk-card-title uk-margin-remove-bottom">
                                Software Livre e Código Aberto - você também pode contribuir!
                            </h5>
                          <p class="uk-margin-remove-top">
                              Essa palestra não é tecnica, mas tem por objetivo estimular aquelas pessoas que tem o conhecimento técnico a passarem a contribuir para projetos de Software Livre e Código Aberto. Vou mostrar o que é Software Livre e Código Aberto para aqueles(as) desenvolvedores(as) que não conhecem, mostrando a história, filosofia, conceitos, diferenças e licenças.
                          </p>
                        </div>
                        <div class="uk-card-footer">
                            <b>
                                Paulo Henrique de Lima Santana
                            </b>
                        </div>
                      </div>
                </td>

            </tr>
            <tr>
                <td><h4 class="uk-margin-small-top">
                    13h50	às	14h30
                </h4></td>
                <td>
                    <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-margin-small">
                        <div class="uk-card-body">
                            <h5 class="uk-card-title uk-margin-remove-bottom">
                                Vídeo game e bancos de dados para os fortes!
                            </h5>
                          <p class="uk-margin-remove-top">
                              O que a evolução dos games pode nos ensinar sobre quando onde e porque usar cada tipo de banco de dados.
                          </p>
                        </div>
                        <div class="uk-card-footer">
                            <b>
                                Dani Monteiro
                            </b>
                        </div>
                      </div>
                </td>
                <td>
                    <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-margin-small">
                        <div class="uk-card-body">
                            <h5 class="uk-card-title uk-margin-remove-bottom">
                                Disponibilizando serviços com Docker Swarm
                            </h5>
                          <p class="uk-margin-remove-top">
                              Serviços de backend, frontend ou api com traefik como proxy reverso. Uma maneira fácil de disponibilizar vários serviços em cluster com docker swarm.
                          </p>
                        </div>
                        <div class="uk-card-footer">
                            <b>
                                Felipe Francisco
                            </b>
                        </div>
                      </div>
                </td>
                <td>
                    <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-margin-small">
                        <div class="uk-card-body">
                            <h5 class="uk-card-title uk-margin-remove-bottom">
                                Design Thinking para não-designers: Como aplicar em projetos de T.I.?
                            </h5>
                          <p class="uk-margin-remove-top">
                              Como reutilizar tags, reduzir o tamanho de um página html, isolamento da estilização. Criando componentes personalizados e facilmente atualizáveis.
                          </p>
                        </div>
                        <div class="uk-card-footer">
                            <b>
                                Eluana Sievert Cardoso
                            </b>
                        </div>
                      </div>
                </td>
            </tr>
            <tr>
                <td><h4 class="uk-margin-small-top">
                    14h40	às	15h20
                </h4></td>
                <td>
                    <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-margin-small">
                        <div class="uk-card-body">
                            <h5 class="uk-card-title uk-margin-remove-bottom">
                                Como criar sua carreria, sem recursos e sem apoios
                            </h5>
                          <p class="uk-margin-remove-top">
                              43% dos jovens periféricos desistem da escola antes dos 19 anos, 92% dos que concluem não sabem matemática, periféricos representam a minoria nas empresas. 2,8% das pessoas que acessam o StackOverflow são negras. Quase todo mundo que fala sobre carreira em tecnologia, teve vários recursos e apoio de várias pessoas. Bom, a vida não é bem assim e aqui você vai descobrir a realidade crua e nua - essa talk é sobre como eu escapei dessas estatísticas e fiz minha própria carreira com contas a pagar, comida pra por na mesa, sem recursos e sem expectativa.
                          </p>
                        </div>
                        <div class="uk-card-footer">
                            <b>
                                Matheus Hernandes Gonçalves
                            </b>
                        </div>
                      </div>
                </td>
                <td>
                    <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-margin-small">
                        <div class="uk-card-body">
                            <h5 class="uk-card-title uk-margin-remove-bottom">
                                Os grandes desafios de migrar um legado para micro-serviços desacoplados na nuvem.
                            </h5>
                          <p class="uk-margin-remove-top">
                              Muito se fala de micro-serviços, nuvem, serviços escaláveis, porem existem muitos desafios e muita brincadeira para migrar um monolítico legado. Gostaria de compartilhar os desafios e os cuidados para não cair nas armadilhas dessa tendencia.
                          </p>
                        </div>
                        <div class="uk-card-footer">
                            <b>
                                Fabio Claus Soares
                            </b>
                        </div>
                      </div>
                </td>
                <td>
                    <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-margin-small">
                        <div class="uk-card-body">
                            <h5 class="uk-card-title uk-margin-remove-bottom">
                                Scrum para quem tem pressa
                            </h5>
                          <p class="uk-margin-remove-top">
                              Se você acredita que ágil e rápido são sinônimos quando se trata da avaliação do seu time, esta palestra é para você. Aumente a eficiência do seu projeto investindo nos indivíduos e interações!
                          </p>
                        </div>
                        <div class="uk-card-footer">
                            <b>
                                Isabelle Gomes Samways
                            </b>
                        </div>
                      </div>
                </td>
            </tr>
            <tr>
                <td><h4 class="uk-margin-small-top">15h20	às	16h00</h4></td>
                <td colspan="4">
                    <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-margin-small">
                        <div class="uk-card-body">
                            <h5 class="uk-card-title uk-margin-remove-bottom">
                                Coffee-break e Networking
                            </h5>
                          <p class="uk-margin-remove-top">Uma pequena pausa para você esticar as pernas, tomar um café e conhecer novas pessoas ;)</p>
                        </div>
                      </div>
                </td>
            </tr>
            <tr>
                <td><h4 class="uk-margin-small-top">
                    16h00	às	16h40
                </h4></td>
                <td>
                    <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-margin-small">
                        <div class="uk-card-body">
                            <h5 class="uk-card-title uk-margin-remove-bottom">
                                Inteligência Artificial para Acessibilidade
                            </h5>
                          <p class="uk-margin-remove-top">
                              A inteligência artificial tem trazido grande impacto nos negócios mas ela também tem um poder muito grande de transformar vidas. Nesta palestra iremos ver alguns exemplos e como podemos utilizar o Azure Cognitive Services para atingirmos resultados parecidos em nossas aplicações.
                          </p>
                        </div>
                        <div class="uk-card-footer">
                            <b>
                                Angelo Belchior & Alexandre Santos Costa
                            </b>
                        </div>
                      </div>
                </td>
                <td>
                    <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-margin-small">
                        <div class="uk-card-body">
                            <h5 class="uk-card-title uk-margin-remove-bottom">
                                Criando esteira de CI e CD de todas as maneiras possíveis.
                            </h5>
                          <p class="uk-margin-remove-top">
                              Nessa palestra será mostrado diversas maneiras de criar a esteira de Continuous Integration e Continuous Deployment de suas aplicações uitlizando Visual Studio, Azure DevOps e Azure. Não existe desculpa para os times não automatizarem o seu processo de entrega de software.
                          </p>
                        </div>
                        <div class="uk-card-footer">
                            <b>
                                Vinicius Jose de Moura
                            </b>
                        </div>
                      </div>
                </td>
                <td>
                    <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-margin-small">
                        <div class="uk-card-body">
                            <h5 class="uk-card-title uk-margin-remove-bottom">
                                Otimizando a criação de CRUD's com Laravel e MYSQL
                            </h5>
                          <p class="uk-margin-remove-top">
                              Hoje o Laravel vem crescendo muito no mundo do desenvolvimento WEB, ele trás diversas funcionalidades que auxiliam muito na hora de criar um simples CRUD. Nessa palestra quero demostrar como é possível criar facílmente um CRUD com Laravel e conectado em apenas 30 min.
                          </p>
                        </div>
                        <div class="uk-card-footer">
                            <b>
                                Gabriel Luiz Novaski
                            </b>
                        </div>
                      </div>
                </td>
            </tr>
            <tr>
                <td><h4 class="uk-margin-small-top">
                    16h50	às	17h30
                </h4></td>
                <td>
                    <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-margin-small">
                        <div class="uk-card-body">
                            <h5 class="uk-card-title uk-margin-remove-bottom">
                                Construindo produtos em uma arquitetura de microsserviços no Nubank
                            </h5>
                          <p class="uk-margin-remove-top">
                              Com o constante crescimento do Nubank, criar e evoluir um produto são desafios que os diversos times enfrentam. Este desafio fica ainda maior se esta arquitetura deve ser capaz de garantir a segurança e consistência necessárias ao mercado financeiro e, ao mesmo tempo, evitar uma abordagem monolítica centrada em um bancos de dados tradicional. Nessa palestra, iremos mostrar como construimos os produtos de empréstimo pessoal e do programa de pontos (Rewards).
                          </p>
                        </div>
                        <div class="uk-card-footer">
                            <b>
                                Marina Limeira & Isabella Mendonça
                            </b>
                        </div>
                      </div>
                </td>
                <td>
                    <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-margin-small">
                        <div class="uk-card-body">
                            <h5 class="uk-card-title uk-margin-remove-bottom">
                                Utilizando um gateway de eventos para construir um aplicativo de ingressos em ambiente multi-cloud
                            </h5>
                          <p class="uk-margin-remove-top">
                              Arquitetura de micro-serviços orientados a eventos estão tomando conta do desenvolvimento web, no estado da arte, mas esses conceitos ainda são difíceis de aprender e ainda mais de aplicar corretamente. Esta apresentação será no estilo hands-on.
                          </p>
                        </div>
                        <div class="uk-card-footer">
                            <b>
                                Cristóvão Diniz Trevisan
                            </b>
                        </div>
                      </div>
                </td>
                <td>
                    <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-margin-small">
                        <div class="uk-card-body">
                            <h5 class="uk-card-title uk-margin-remove-bottom">
                                A Era da Acessibilidade
                            </h5>
                          <p class="uk-margin-remove-top">
                              Na era atual do desenvolvimento, a acessibilidade deve estar intrínseca a proposta de valor. Nessa palestra quero mostrar os principais problemas enfrentados, alguns bad e good cases e deixar um cookbook com diversas ferramentas para ajudar os devs a atingir a tão esperada acessibilidade - afinal, o valor deve ser entregue para todos.
                          </p>
                        </div>
                        <div class="uk-card-footer">
                            <b>
                                Julio Pavani Lozovei
                            </b>
                        </div>
                      </div>
                </td>
            </tr>
            <tr>
                <td><h4 class="uk-margin-small-top">
                    17h40	às	18h20
                </h4></td>

                <td>
                    <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-margin-small">
                        <div class="uk-card-body">
                            <h5 class="uk-card-title uk-margin-remove-bottom">
                                Seu app é seu castelo: construindo aplicações para Android que respeitem os usuários
                            </h5>
                          <p class="uk-margin-remove-top">
                              É 2019 e o mercado ainda está cheio de aplicações Android frágeis, inconsistentes e construídas com zero senso de segurança e privacidade para as pessoas que os usam. Nós, como usuários dessas aplicações, sempre esperamos o melhor dos serviços e muitas das vezes nos frustramos com as experiências de aplicações em geral. Nesse talk, vamos destacar boas práticas de desenvolvimento, arquitetura, design, segurança e privacidade que elevam a qualidade técnica e de experiência de um aplicativo. Com exemplos práticos numa aplicação open source, vamos entender como podemos buscar excelência na forma que construimos nossas aplicações, sem precisar de um time de 20 pessoas para isso.
                          </p>
                        </div>
                        <div class="uk-card-footer">
                            <b>
                                Walmyr Carvalho
                            </b>
                        </div>
                      </div>
                </td>
                <td>
                    <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-margin-small">
                        <div class="uk-card-body">
                            <h5 class="uk-card-title uk-margin-remove-bottom">
                                Data Science: É de comer?
                            </h5>
                          <p class="uk-margin-remove-top">
                              Fazendo uma pesquisa rápida no Google é possível encontrar, aproximadamente, 1.490.000.000 resultados sobre o termo. Mas o que será que ele realmente significa? Taxada como a profissão do século, o data scientist é quase como um unicórnio na programação: ninguém viu, mas todo mundo gostaria de ter um. Foi até taxada como "A profissão mais sexy do século XXI". É sério. Nessa palestra, Letícia Silva traz informações concretas explicando o que é a Ciência de Dados, como se tornar profissional na área (ou se descobrir um), e de que maneira é possível fazer uma trilha de estudos sobre o tema e aprofundar-se no mesmo.
                          </p>
                        </div>
                        <div class="uk-card-footer">
                            <b>
                                Letícia da Silva Rosa
                            </b>
                        </div>
                      </div>
                </td>
                <td>
                    <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-margin-small">
                        <div class="uk-card-body">
                            <h5 class="uk-card-title uk-margin-remove-bottom">
                                Porque mudei de area do chão de fabrica para desenvolvedor e como vim parar em Curitiba
                            </h5>
                          <p class="uk-margin-remove-top">
                              Nesta talk falo um pouco dos motivos que uma pessoa pode mudar de area em sua carreira e demonstrando um pouco como foi a minha tragetória, e porque sai de Sorocaba-SP para Curitiba-PR
                          </p>
                        </div>
                        <div class="uk-card-footer">
                            <b>
                                Cleiton Felipe de Moraes
                            </b>
                        </div>
                      </div>
                </td>
            </tr>
            <tr>
                <td><h4 class="uk-margin-small-top">18h30	às	18h50</h4></td>
                <td colspan="4">
                    <div class="uk-card uk-card-default uk-card-hover uk-card-small uk-margin-small">
                        <div class="uk-card-body">
                            <h5 class="uk-card-title uk-margin-remove-bottom">
                                Encerramento
                            </h5>
                          <p class="uk-margin-remove-top">Agradecimentos e sorteios</p>
                        </div>
                      </div>
                </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
