.time {
    font-weight: 300;
    font-size: 0.9rem;
}

.hour {
    font-size: 1.4rem;
    font-weight: 400;
}

.title {
    font-size: 1.4rem;
    font-weight: 400;
}

.uk-card-primary {
    background: none;
}