<!-- TOP -->
<div class="top-wrap uk-position-relative uk-light uk-background-secondary">
    <!-- NAV -->
    <capi-20-nav-bar></capi-20-nav-bar>
    <!-- /NAV -->
</div>
<!-- /TOP -->
<!-- BODY -->
<section class="uk-section uk-article">
    <div class="uk-container uk-container">
        <h2 class="uk-text-bold uk-h1 uk-margin-remove-adjacent uk-margin-remove-top">Agenda
        </h2>
        <div class="uk-margin-large-right uk-margin-large-bottom">
            <p>Uma agenda para nenhuma capivara botar defeito! Fique ligado, pois
                estamos sempre adicionando mais atividades :)
            </p>
            <p class="uk-article-meta">
                Atualizado em 24 de fevereiro 2020
            </p>
        </div>
    </div>
    <div class="uk-container uk-container">
    </div>
    <div class="uk-container uk-container">
        <div class="uk-margin-small-top">
            <ul uk-tab="animation: uk-animation-fade">
                <li><a href="#">
                        <h5>Palestras Dia 01 ‧ 15 de Maio</h5>
                    </a></li>
                <li><a href="#">
                        <h5>Palestras Dia 02 ‧ 16 de Maio</h5>
                    </a></li>
            </ul>
            <ul class="uk-switcher uk-margin">
                <!-- dia 01-->
                <li class="uk-remove-padding uk-margin-medium-top">
                    <div *ngFor="let item of dayOne" class="uk-margin-medium-bottom">
                        <div class="uk-card uk-card-small uk-card-default">
                            <div class="uk-card-header">
                                <h4 class="hour">{{item.startTime.hour}}h{{item.startTime.minute}}</h4>
                            </div>
                            <div class="uk-card-body">
                                <h4 class="uk-margin-remove-bottom uk-padding-remove-bottom">{{ item.title }}</h4>
                                <p class="uk-margin-remove uk-padding-remove uk-article-meta">{{item.description}}</p>
                            </div>
                            <div class="uk-card-footer" *ngIf="item.speakers?.length > 0">
                                <div class="uk-grid-small uk-flex-middle" uk-grid>
                                    <div *ngFor="let speaker of item.speakers">
                                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                                            <div class="uk-width-auto">
                                                <img class="uk-border-circle" width="40" height="40"
                                                    src="{{ speaker.picture }}">
                                            </div>
                                            <div class="uk-width-expand">
                                                <p class="uk-margin-remove-bottom">{{ speaker.name }}</p>
                                                <p class="uk-text-meta uk-margin-remove-top"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <!-- dia 02-->
                <li class="uk-remove-padding uk-margin-medium-top">
                    <div *ngFor="let item of dayTwo" class="uk-margin-medium-bottom">
                        <div class="uk-card uk-card-small uk-card-default">
                            <div class="uk-card-header">
                                <h4 class="hour">{{item.startTime.hour}}h{{item.startTime.minute}}</h4>
                            </div>
                            <div class="uk-card-body">
                                <h4 class="uk-margin-remove-bottom uk-padding-remove-bottom">{{ item.title }}</h4>
                                <p class="uk-margin-remove uk-padding-remove uk-article-meta">{{item.description}}</p>
                            </div>
                            <div class="uk-card-footer" *ngIf="item.speakers?.length > 0">
                                <div class="uk-grid-small uk-flex-middle" uk-grid>
                                    <div *ngFor="let speaker of item.speakers">
                                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                                            <div class="uk-width-auto">
                                                <img class="uk-border-circle" width="40" height="40"
                                                    src="{{ speaker.picture }}">
                                            </div>
                                            <div class="uk-width-expand">
                                                <p class="uk-margin-remove-bottom">{{ speaker.name }}</p>
                                                <p class="uk-text-meta uk-margin-remove-top"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="uk-text-center uk-margin-large-top">
            <small class="uk-article-meta"><i>Grade sujeita a alterações sem aviso previo!</i></small>
        </div>
    </div>
</section>
<!-- /BODY -->
<!-- FOOTER -->
<capi20-footer></capi20-footer>
<!-- /FOOTER -->
<!-- OFFCANVAS -->
<capi20-side-nav></capi20-side-nav>
<!-- /OFFCANVAS -->