<div id="offcanvas-nav" data-uk-offcanvas="flip: true; overlay: false">
  <div class="uk-offcanvas-bar uk-offcanvas-bar-animation uk-offcanvas-slide">
    <button class="uk-offcanvas-close uk-close uk-icon" type="button" data-uk-close></button>
    <ul class="uk-nav uk-nav-default">
      <li class="uk-nav-header">2020</li>
      <li class="uk-parent">
        <ul class="uk-nav-sub">
          <li><a href="/2020/start"></a>Início</li>
          <li><a href="/2020/pessoas">Pessoas</a></li>
          <li><a href="/2020/palestras">Palestras</a></li>
          <li><a href="/2020/paineis">Painéis</a></li>
          <!-- <li><a href="#sponsors" data-uk-scroll="duration: 500">Patrocinio e Apoio</a></li> -->
          <li><a href="https://inscricao.capiconf.com/">Inscreva-se</a></li>
          <li><a href="/2020/faq">Dúvidas</a></li>
          <li><a href="/coc">Código de Conduta</a></li>
        </ul>
      </li>
      <li class="uk-nav-header">Edições anteriores</li>
      <li class="uk-parent">
        <ul class="uk-nav-sub">
          <li><a [routerLink]="['/2019/start']">2019</a></li>
          <li><a href="/2018/index.html" title="#CapiConf 2018">2018</a></li>
        </ul>
      </li>
      <!-- <li><a href="/2017/start">2017</a></li> -->
    </ul>
    <h5>SOBRE</h5>
    <p class="uk-text-small">O #CapiConf é um grande encontro de pessoas, comunidades e entusiastas de software. O
      evento teve sua primeira edição em 2014 e desde então vem abordando os principais tópicos e temáticas de interesse
      das comunidades tecnicas.</p>
  </div>
</div>