<!--FOOTER-->
<footer class="uk-section-secondary">
  <div class="uk-container uk-section">
    <div class="uk-grid uk-child-width-1-3@l" data-uk-grid>
      <div>
        <h4>#CapiConf 2019</h4>
        <ul class="uk-list uk-list-bullet">
          <li>
            <a href="mailto:capivaracodes@gmail.com" title="Informações sobre Parceira e Patrocínio">Informações sobre
              Parceira e Patrocínio</a>
          </li>
          <li>
            <a href="mailto:capivaracodes@gmail.com" title="Contato">Contato</a>
          </li>
          <li>
            <a href="http://bit.ly/capiconf-2019-inscricao" title="Culpa qui officia">Inscrições</a>
          </li>
          <li>
            <a href="/code-of-conduct" title="Código de Conduta">Código de Conduta</a>
          </li>
        </ul>
      </div>

      <div>
        <h4>Edições anteriores</h4>
        <ul class="uk-list uk-list-bullet">
          <li>
            <a href="https://capiconf18.azurewebsites.net" title="#CapiConf 2018">2018</a>
          </li>
          <li>
            <a href="https://capiconf17.azurewebsites.net" title="#CapiConf 2017">2017</a>
          </li>
        </ul>
      </div>
      <div>
        <h4>Social Media</h4>
        <a href="http://facebook.com/capiconf" class="uk-icon-button  uk-margin-small-right" data-uk-icon="facebook"></a>
        <a href="https://twitter.com/CapiConf/" class="uk-icon-button  uk-margin-small-right" data-uk-icon="twitter"></a>
        <a href="https://www.instagram.com/CapiConf/" class="uk-icon-button" data-uk-icon="instagram"></a>
      </div>
    </div>
  </div>
  <div class="uk-section uk-section-xsmall" style="background-color: rgba(0,0,0,0.15)">
    <div class="uk-container">
      <div class="uk-grid uk-child-width-1-1@s uk-text-center" data-uk-grid>
        <div class="uk-text-center uk-margin">
          <img src="../../../assets/img/logo_capiconf.svg" style="height:60px" alt="#CapiConf 2019 Logo" />
        </div>
      </div>
    </div>
  </div>
</footer>
<!--/FOOTER-->
