<footer class="uk-section uk-section-secondary uk-padding-remove-bottom">
    <div class="uk-container">
      <div class="uk-grid uk-grid-large" data-uk-grid>
        <div class="uk-width-1-6@m">
          <img class="uk-height-max-small" src="../../../assets/logo_round_normal.svg" alt="Logo #CapiConf">
        </div>
        <div class="uk-width-1-2@m">
          <p>O #CapiConf é um grande encontro de pessoas, comunidades e entusiastas de TI. O evento teve sua primeira
            edição em 2014 e desde então vem abordando os principais tópicos e temáticas de interesse das comunidades
            tecnicas.</p>
          <div>
            <a href="http://twitter.com/capiconf" target="_blank" class="uk-icon-button" data-uk-icon="twitter"></a>
            <a href="https://facebook.com/capiconf/" target="_blank" class="uk-icon-button uk-margin-left"
              data-uk-icon="facebook"></a>
            <a href="https://instagram.com/capiconf/" target="_blank" class="uk-icon-button uk-margin-left"
              data-uk-icon="instagram"></a>
          </div>
        </div>
        <div class="uk-width-1-3@m">
          <p>Edições anteriores</p>
          <div>
            <ul>
              <li><a [routerLink]="['/2019/start']">2019</a></li>
              <li> <a href="/2018/index.html" title="#CapiConf 2018">2018</a></li>
              <!-- <li><a href="/2017/start">2017</a></li> -->
            </ul>
          </div>
        </div>
      </div>
      <div class="uk-padding uk-padding-remove-horizontal uk-text-center">
        <span class="uk-text-small uk-text-muted">© 2019 #everydaycapybara | We ❤️
          Community</span>
      </div>
    </div>
  </footer>