<!-- TOP -->
<div class="top-wrap uk-position-relative uk-light uk-background-secondary">
  <!-- NAV -->
  <capi-20-nav-bar></capi-20-nav-bar>
  <!-- /NAV -->
</div>
<!-- /TOP -->
<section class="uk-section uk-article">
  <div class="uk-container uk-container">
    <h2 class="uk-text-bold uk-h1 uk-margin-remove-adjacent uk-margin-remove-top">Precisa de ajuda? Aqui temos algumas respostas</h2>
    <p>Criamos o FAQ para te ajudar a esclarecer as principais dúvidas relacionadas a conferência e sobre participação.</p>
    <p class="uk-article-meta">
      Atualizado em 20 de agosto de 2019
    </p>
    <div *ngFor="let q of questions">
      <p class="uk-text-lead uk-margin-top">{{q.question }}</p>
      <p>{{ q.answer }}</p>
      <div ngId="!q.itens">
        <p *ngFor="let i of q.itens">
            - <a href="{{ i.url }}" target="_blank">{{ i.title }}</a>
        </p>
      </div>
    </div>
  </div>
</section>
<!-- HELP -->
<section id="help" class="uk-section uk-section-default uk-padding-remove-bottom bg-alternate">
  <div class="uk-container uk-section uk-padding-remove-top">
    <h1 class="uk-text-center">FALE CONOSCO</h1>
    <div class="uk-container">
      <div>
        <iframe
          src="https://docs.google.com/forms/d/e/1FAIpQLSe49QwhC-UIYPC0adXyNpzVyk9oBljqX4rhXUmcF7tflN53hw/viewform?embedded=true"
          width="100%" height="956" frameborder="0" marginheight="0" marginwidth="0">Carregando…</iframe>
      </div>
    </div>
  </div>
</section>
<!-- /HELP -->
<!-- FOOTER -->
<capi20-footer></capi20-footer>
<!-- /FOOTER -->
<!-- OFFCANVAS -->
<capi20-side-nav></capi20-side-nav>
<!-- /OFFCANVAS -->