@import "../node_modules/uikit/src/scss/variables-theme.scss";
@import "../node_modules/uikit/src/scss/mixins-theme.scss";
@import "../node_modules/uikit/src/scss/uikit-theme.scss";

.capiconf-uk-cover {
    background-image: url("assets/img/cover.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.capiconf-bg-primary {
    background-color: #35096A;
}

.capiconf-bg-assent {
    background-color: #FF1744;
}


.capiconf-center {
    display: flex;
    justify-content: center;
}

.capiconf-bg-white {
    background-color: #fff;
}

.capiconf-heading {
    color: #300563 !important;
}

.capiconf-text {
    color: #333  !important;
}