
<!-- OFFCANVAS -->
<div id="offcanvas-nav" data-uk-offcanvas="flip: true; overlay: false">
  <div class="uk-offcanvas-bar uk-offcanvas-bar-animation uk-offcanvas-slide">
    <button
      class="uk-offcanvas-close uk-close uk-icon"
      type="button"
      data-uk-close
    ></button>
    <ul class="uk-nav uk-nav-default">
      <li class="uk-active"><a href="#">#CapiConf 2019</a></li>
      <!-- <li class="uk-parent">
        <a href="/about">Conheça o Evento</a>
        <ul class="uk-nav-sub">
          <li><a href="#">Motivação</a></li>
          <li><a href="#">Organização</a></li>
          <li><a href="#">Paricipe do #CapiCoders</a></li>
          <li><a href="#">Localização</a></li>
        </ul>
      </li> -->
      <ul class="uk-nav-sub">
        <li *ngFor="let page of pages" class="uk-active">
            <a title="{{ page.description | titlecase }}" href="{{ page.route }}">{{ page.title  }}</a>
        </li>
      </ul>
    </ul>
    <h3>Inscrições abertas</h3>
    <p>
      Você não pode perder o #CapiConf 2019, ele vem cheio de oportunidades de
      aprendizado e networking! Garanta seu ingresso com desconto comprando
      antecipadamente.
    </p>
  </div>
</div>
<!-- /OFFCANVAS -->