<!-- TOP -->
<div class="top-wrap uk-position-relative uk-light uk-background-secondary">
    <!-- NAV -->
    <capi-20-nav-bar></capi-20-nav-bar>
    <!-- /NAV -->
</div>
<!-- BODY -->
<section class="uk-section uk-article">
    <div class="uk-container uk-container">
        <h2 class="uk-text-bold uk-h1 uk-margin-remove-adjacent uk-margin-remove-top">#CapiConf e coronavírus, o que você precisa saber?</h2>
        <div class="uk-margin-large-right uk-margin-medium-bottom">
            <p>Olá, organizamos nesta página todas as ações que nós da organização do evento estamos implementando em relação ao coronavírus! Se mesmo assim você tiver dúvidas envie um email para <a href="mailto:ping@capiconf.com" title="ping@capiconf.com">ping@capiconf.com</a>.
            </p>
            <p class="uk-article-meta">
                Atualizado em 12 de março 2020
            </p>
        </div>
    </div>
    <div class="uk-container uk-container">
        <h3>O evento vai ser cancelado?</h3>
        <p>
            <b>Não!</b> O evento não vai ser cancelado. <b>Estamos seguindo todas as recomendações da OMS, do Ministério da Saúde e das secretarias de saúde do estado do Paraná e da cidade de Curitiba.</b> 
        </p>
        <p>
            <b>Neste exato momento não existe recomendação alguma para cancelamento de eventos na cidade de Curitiba ou no estado do Paraná.</b>
        </p>
        <p>
            Você pode acompanhar a <a href="http://www.saude.curitiba.pr.gov.br/images/NOTA%20CORONAV%C3%8DRUS%201.pdf" target="_blank">atualização dessas informações aqui.</a>
        </p>
        <h3>
            Quais medidas vocês estão adotando?
        </h3>
        <p>
            Além de disponibilizarmos esta página com informações oficiais evitando assim informações duvidosas ou mentirosas iremos tomar as seguintes ações:
        </p>
        <ul>
            <li>Toda pessoa que frequentar o evento será obrigada a higienizar as suas mãos com álcool gel durante o check in;</li>
            <li>Disponibilização de álcool gel em 24 pontos (incluindo banheiros) durante todo o evento;</li>
            <li>Todos os ambientes ficaram com portas e janelas abertas para aumentar o fluxo de ar;</li>
            <li>Reembolsar qualquer pessoa que por motivo de infecção não possa ir no evento;</li>
            <li>Redistribuir os espaços do coffee break para evitar aglomerações, privilegiando espaços abertos;</li>
            <li>Fixar cartazes com explicações de como fazer a higiene das mãos;
            </li>
            <li>Fixar cartazes com alertas listando sintomas e medidas de cuidado em relação a doença;</li>
            <li>Solicitar para que pessoas que estejam visivelmente com sintomas de gripe durante o evento, ou seja, espirrando ou tossindo sejam retiradas do mesmo.</li>
        </ul>
        <h3>O que recomendamos como fonte de informação confiável sobre o coronavírus? </h3>
        <ul>
            <li>Página oficial do Ministério da Saúde. <a href="https://saude.gov.br/coronavirus" target="_blank">https://saude.gov.br/coronavirus</a></li>
            <li>Página oficial da Secretaria de Saúde do Paraná <a href="http://www.saude.pr.gov.br/" target="_blank">http://www.saude.pr.gov.br/</a></li>
            <li>Página oficial da Secretaria de Saúde de Curitiba <a target="_blank" href="http://www.saude.curitiba.pr.gov.br/">http://www.saude.curitiba.pr.gov.br/</a></li>
            <li>Página oficial da OMS sobre recomendações em relação ao coronavírus <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public" target="_blank">https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public</a></li>
            <li>Boletim atualizado sobre o coronavírus no Brasil <a href="https://www.saude.gov.br/boletins-epidemiologicos" target="_blank">https://www.saude.gov.br/boletins-epidemiologicos;</a></li>
            <li>Aplicativos oficiais do Ministério da Saúde para <a href="https://play.google.com/store/apps/details?id=br.gov.datasus.guardioes" target="_blank">Android</a> e <a href="https://apps.apple.com/br/app/coronav%C3%ADrus-sus/id1408008382" target="_blank">iOS</a>.</li>
        </ul>
        <h3>Que medidas você pode adotar como participante?</h3>
        <ul>
            <li>Verifique se você tem os sintomas utilizando o app do Ministério da Saúde para <a href="https://play.google.com/store/apps/details?id=br.gov.datasus.guardioes" target="_blank">Android</a> e <a href="https://apps.apple.com/br/app/coronav%C3%ADrus-sus/id1408008382" target="_blank">iOS</a>;</li>
            <li>Não ir no evento se estiver doente;</li>
            <li>Não ir no evento se estiver doente pelo menos 15 dias antes da realização do evento;</li>
            <li>Ficar em casa em caso de suspeita;</li>
            <li>Evitar contato físico com outros participantes;
            </li>
            <li>Não tocar olhos, boca e nariz;</li>
            <li>Lavar as mãos durante os intervalos do evento;</li>
            <li>Utilizar o álcool gel sempre que achar necessário;</li>
        </ul>
        <h3>Outras dúvidas</h3>
        <p><b>Se vocês foram obrigados a adiar o evento, existe um plano? </b>Apesar de entendermos que não existe motivo para pânico, já temos um plano definido, com duas datas alternativas reservadas para o final da primavera início do verão. </p>
        <p><b>Os palestrantes de outros estados vão vir ao evento?</b>Confirmamos a presença de todos os palestrantes convidados provenientes de outros estados, mas caso alguém desista, temos um plano B para cada palestra enviada. <b>É importante frisar que até o momento não temos nenhum palestrante cancelado.</b>
        </p>
        <p><b>Quando vocês vão atualizar essa página?</b> Sempre que um fato drástico tenha acontecido, você pode acompanhar nosso perfil no twitter para ter informações atualizadas do evento em menor tempo.
        </p>
        <h3>Tem alguma outra dúvida? Envie um email para <a href="mailto:ping@capiconf.com" title="ping@capiconf.com">ping@capiconf.com</a></h3>
    </div>
</section>
<!-- /BODY -->

<!-- FOOTER -->
<capi20-footer></capi20-footer>
<!-- /FOOTER -->
<!-- OFFCANVAS -->
<capi20-side-nav></capi20-side-nav>
<!-- /OFFCANVAS -->
<!-- /TOP -->