
<!-- LOCATION -->
<section id="location" class="uk-section uk-section-default uk-padding-remove-bottom uk-section-secondary">
    <div class="uk-container  uk-text-center uk-section uk-padding-remove-top">
      <h1 class="uk-text-primary">LOCALIZAÇÃO ❤️</h1>
      <h3 class="uk-text-center uk-width-3-4 uk-margin-auto uk-margin-medium-bottom">
        O evento vai acontecer no <b>Teatro Positivo, Pequeno Auditório</b>, <br />localizado na <b>Universidade Positivo,
          Campus Ecoville</b>.
      </h3>
      <p>R. Prof. Pedro Viriato Parigot de Souza, 5300. Campo Comprido, Curitiba,Paraná, 81280-330</p>
      <button title="Conheça um pouco mais da Universidade Positivo"
        class="uk-margin-top uk-dark uk-button uk-button-secondary uk-border-pill uk-button-large video-button"
        data-uk-scrollspy-class="uk-animation-fade"
        uk-toggle="target: #up-video; animation: uk-animation-slide-top">Conheça um pouco mais da Universidade
        Positivo</button>
      <div id="up-video" class="uk-margin-top" hidden>
        <iframe src="https://www.youtube.com/embed/nHQMCwBvPFs" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" width="1920" height="1080"
          frameborder="0" allowfullscreen uk-responsive uk-video="automute: false; autoplay: true"></iframe>
      </div>
  
    </div>
    <div class="uk-child-width-expand@s" uk-grid>
      <div uk-lightbox class="uk-padding-remove">
        <a href="../../../assets/location/01.jpg">
          <img src="../../../assets/location/01.jpg">
        </a>
      </div>
      <div uk-lightbox class="uk-padding-remove uk-margin-remove">
        <a class="uk-height-small" href="../../../assets/location/02.jpg">
          <img src="../../../assets/location/02.jpg">
        </a>
      </div>
      <div uk-lightbox class="uk-padding-remove uk-margin-remove">
        <a href="../../../assets/location/03.jpg">
          <img src="../../../assets/location/03.jpg">
        </a>
      </div>
  
      <div uk-lightbox class="uk-padding-remove uk-margin-remove">
        <a href="../../../assets/location/04.jpg">
          <img src="../../../assets/location/04.jpg">
        </a>
      </div>
      <div uk-lightbox class="uk-padding-remove uk-margin-remove">
        <a class="uk-height-small" href="../../../assets/location/07.jpg">
          <img src="../../../assets/location/07.jpg">
        </a>
      </div>
      <div uk-lightbox class="uk-padding-remove uk-margin-remove">
        <a href="../../../assets/location/06.jpg">
          <img src="../../../assets/location/06.jpg">
        </a>
      </div>
    </div>
    <iframe width="100%" height="640px" frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3602.7427100194227!2d-49.358904!3d-25.446863999999987!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94dce2054f5c158f%3A0xc51ad98878b6e3bf!2sUniversidade+Positivo!5e0!3m2!1spt-BR!2sbr!4v1404134609108"
      allowfullscreen=""></iframe>
    <div class="uk-padding-large"></div>
  </section>
  <!-- /LOCATION -->