<app-navbar></app-navbar>
<section class="uk-section uk-article">
  <div class="uk-container uk-container">
    <h2 class="uk-text-bold uk-h1 uk-margin-remove-adjacent uk-margin-remove-top">Precisa de ajuda? Aqui temos algumas respostas</h2>
    <p>Criamos o FAQ para te ajudar a esclarecer as principais dúvidas relacionadas a conferência e sobre participação.</p>
    <p class="uk-article-meta">
      Atualizado em 13 de abril de 2019
    </p>
    <div *ngFor="let q of questions">
      <p class="uk-text-lead uk-margin-top">{{q.question }}</p>
      <p>{{ q.answer }}</p>
      <div ngId="!q.itens">
        <p *ngFor="let i of q.itens">
            - <a href="{{ i.url }}" target="_blank">{{ i.title }}</a>
        </p>
      </div>
    </div>
  </div>
</section>
