<!-- SPONSORS -->
<section id="sponsors" class="uk-section uk-section-large">
    <div class="uk-container uk-text-center uk-section uk-padding-remove-top">
        <h1 class="">PATROCÍNIO</h1>
        <h3 class="uk-text-center uk-width-3-4 uk-margin-auto uk-margin-medium-bottom">
            Empresas e grupos que incentivam e acreditam no #CapiConf
        </h3>
        <div class="uk-padding"></div>
        <div class="uk-container">
            <div class="uk-text-center">
                <h4 class="uk-text-muted">DIAMOND</h4>
            </div>
            <div class="uk-grid uk-grid-small uk-child-width-1-3@m" data-uk-grid
            style="margin-top: 80px;"
                data-uk-scrollspy="target: > div; delay: 50; cls: uk-animation-slide-bottom-medium">
                <div class="uk-text-center">
                    <a href="https://careers.rentcars.com/?utm_source=capiconf&utm_medium=home&utm_campaign=patrocinio"
                        title="Rentcars.com"
                        target="_blank">
                        <img src="../../../assets/sponsors/rentcars.png" />
                    </a>
                </div>
                <div class="uk-text-center">
                    <a href="https://www.objective.com.br/?utm_source=capiconf&utm_medium=home&utm_campaign=patrocinio"
                        title="Objective Solutions"
                        target="_blank">
                        <img  src="../../../assets/sponsors/obj.png"  />
                    </a>
                </div>
                <div class="uk-text-center">
                    <a href="https://vhsys.com.br/?utm_source=capiconf&utm_medium=home&utm_campaign=patrocinio"
                        title="VHSYS"
                        target="_blank">
                        <img  src="../../../assets/sponsors/logo_vhsys_new.png" />
                    </a>
                </div>
                <div class="uk-text-center">
                    <a href="https://www.ebanx.com/br/?utm_source=capiconf&utm_medium=home&utm_campaign=patrocinio"
                        title="EBANX"
                        target="_blank">
                        <img src="../../../assets/sponsors/ebanx.png"  />
                    </a>
                </div>
                <div class="uk-text-center">
                    <a href="http://www.grupoboticario.com.br/?utm_source=capiconf&utm_medium=home&utm_campaign=patrocinio"
                        title="Grupo Boticário"
                        target="_blank">
                        <img src="../../../assets/sponsors/gb.png" />
                    </a>
                </div>
                <div class="uk-text-center">
                    <a href="http://juno.com.br/?utm_source=capiconf&utm_medium=home&utm_campaign=patrocinio"
                        title="Juno"
                        target="_blank">
                        <img src="../../../assets/sponsors/juno.png" />
                    </a>
                </div>
                <div class="uk-text-center">
                    <a href="https://www.bcredi.com.br/?utm_source=capiconf&utm_medium=home&utm_campaign=patrocinio"
                        title="BCredi"
                        target="_blank">
                        <img src="../../../assets/sponsors/bcredi_logo_normal_whitebg.png" />
                    </a>
                </div>
                <div class="uk-text-center">
                    <a href="https://www.paranabanco.com.br/carreiras?utm_source=capiconf&utm_medium=home&utm_campaign=patrocinio"
                        title="Paraná Banco"
                        target="_blank">
                        <img src="../../../assets/sponsors/parana_banco.png"/>
                    </a>
                </div>
                <div class="uk-text-center">
                    <a href="https://www.hipe.cc?utm_source=capiconf&utm_medium=home&utm_campaign=patrocinio"
                        title="HIPE"
                        target="_blank">
                        <img src="../../../assets/sponsors/hipe.png"/>
                    </a>
                </div>
            </div>
        </div>
        <!-- GOLD -->
        <div class="uk-padding"></div>
        <div class="uk-padding"></div>
        <div class="uk-text-center">
            <h4 class="uk-text-muted">GOLD</h4>
        </div>
        <div class="uk-padding-small"></div>
        <div class="uk-grid uk-grid-large uk-child-width-1-3@m" data-uk-grid
            data-uk-scrollspy="target: > div; delay: 50; cls: uk-animation-slide-bottom-medium">
            <div class="uk-text-center">
            </div>
            <div class="uk-text-center">
                <a href="https://ateliware.com/?utm_source=capiconf&utm_medium=home&utm_campaign=patrocinio"
                    title="https://ateliware.com/?utm_source=capiconf&utm_medium=home&utm_campaign=patrocinio"
                    target="_blank">
                    <img src="../../../assets/sponsors/ateliware.png" width="52%" />
                </a>
            </div>
            <div class="uk-text-center">
            </div>
        </div>
        <div class="uk-padding"></div>
        <!-- SILVER -->
        <div class="uk-padding"></div>
        <div class="uk-text-center">
            <h4 class="uk-text-muted">SILVER</h4>
        </div>
        <div class="uk-padding-small"></div>
        <div class="uk-grid uk-grid-large uk-child-width-1-3@m" data-uk-grid
            data-uk-scrollspy="target: > div; delay: 50; cls: uk-animation-slide-bottom-medium">
            <div class="uk-text-center">
            </div>
            <div class="uk-text-center">
                <a href="http://www.matera.com/?utm_source=capiconf&utm_medium=home&utm_campaign=patrocinio"
                    title="http://www.matera.com/?utm_source=capiconf&utm_medium=home&utm_campaign=patrocinio"
                    target="_blank">
                    <img src="../../../assets/sponsors/matera.png" width="54%" />
                </a>
            </div>
            <div class="uk-text-center">
            </div>
        </div>
        <div class="uk-padding"></div>
        <div class="uk-padding"></div>
        <h6 class="uk-text-center uk-width-3-4 uk-margin-auto uk-margin-bottom uk-margin-top">
            Quer deixar sua marca no #CapiConf 2020?
        </h6>
        <a href="http://bit.ly/capiconf-2020-pp"
            title="Download do Plano de patrocínio 2020 ou entre em contato pelo email sponsors@capiconf.com"
            class="uk-button uk-button-secondary uk-border-pill uk-button-large"
            data-uk-scrollspy-class="uk-animation-fade">Plano de patrocínio 2020</a>
        <div class="uk-margin-small-top uk-text-small"></div>
        <a class="uk-text-center " href="mailto:sponsors@capiconf.com">ou entre em contato para mais detalhes.</a>
    </div>
</section>
<!-- /SPONSORS -->
<!-- SUPPORT -->
<section id="support" class="uk-section uk-section-default" style="border-top: 1px solid #EFEFEF;">
    <div class="uk-margin-large-top uk-container uk-container-xsmall uk-text-center uk-section uk-padding-remove-top">
        <h1>APOIO</h1>
        <h3 class="uk-text-center uk-width-3-4 uk-margin-auto uk-margin-medium-bottom">
            Instituições, organizações e comunidades que apoiam a comunidade de pessoas desenvolvedoras do Paraná.
        </h3>
    </div>
    <div class="uk-container">
        <div class="uk-text-center">
            <h4 class="uk-text-muted">INSTITUIÇÃO PARCEIRA</h4>
        </div>
        <div class="uk-grid uk-grid-large uk-child-width-1-3@m" data-uk-grid
            data-uk-scrollspy="target: > div; delay: 150; cls: uk-animation-slide-bottom-medium">
            <div class="uk-text-center">
            </div>
            <div class="uk-text-center">
                <a href="https://universidade.up.edu.br/" target="_blank"><img
                        src="../../../assets/sponsors/universidade_positivo.png" width="90%"
                        data-src="img/marketing-4.svg" data-uk-img alt="UNIVERSIDADE POSITIVO"></a>
            </div>
            <div class="uk-text-center">
            </div>
        </div>
    </div>
    <div class="uk-padding"></div>
    <div class="uk-container">
        <div class="uk-text-center">
            <h4 class="uk-text-muted">APOIO</h4>
        </div>
        <div class="uk-margin-large"></div>
        <div class="uk-grid uk-grid-large uk-child-width-1-4@m" data-uk-grid
            data-uk-scrollspy="target: > div; delay: 150; cls: uk-animation-slide-bottom-medium">
            <div class="uk-text-center">
            </div>
            <div class="uk-text-center">
                <a href="https://www.alura.com.br/?utm_source=capiconf-2020&utm_medium=logo-infoq&utm_campaign=parceria-eventos"
                    target="_blank"><img style="margin-top: 5px;" src="../../../assets/partners/alura.png" width="50%"
                        data-uk-img alt="Alura"></a>
            </div>
            <div class="uk-text-center">
                <a href="https://www.casadocodigo.com.br/?utm_source=capiconf&utm_medium=home&utm_campaign=apoio"
                    target="_blank"><img style="margin-top: 8px;" src="../../../assets/partners/cdc.png" data-uk-img
                        width="50%" alt="Casa do Código"></a>
            </div>
            <div class="uk-text-center">
            </div>
        </div>
    </div>
    <div class="uk-padding" style="margin-top: 50px;"></div>
    <div class="uk-container">
        <div class="uk-text-center">
            <h4 class="uk-text-muted">AGÊNCIA OFICIAL DO EVENTO</h4>
        </div>
        <div class="uk-margin-large"></div>
        <div class="uk-grid uk-grid-large uk-child-width-1-3@m" data-uk-grid
            data-uk-scrollspy="target: > div; delay: 150; cls: uk-animation-slide-bottom-medium">
            <div class="uk-text-center">
            </div>
            <div class="uk-text-center">
                <a href="https://positivoturismo.com.br/?utm_source=capiconf&utm_medium=home&utm_campaign=apoio"
                    target="_blank"><img src="../../../assets/partners/positivo_turismo.png" width="54%" data-uk-img
                        alt="Positivo Turismo"></a>
            </div>
            <div class="uk-text-center">
            </div>
        </div>
    </div>
    <div class="uk-padding" style="margin-top: 50px;"></div>
    <div class="uk-container">
        <div class="uk-text-center">
            <h4 class="uk-text-muted">PARCEIROS DE MÍDIA</h4>
        </div>
        <div class="uk-margin-large"></div>
        <div class="uk-grid uk-grid-large uk-child-width-1-4@m" data-uk-grid
            data-uk-scrollspy="target: > div; delay: 150; cls: uk-animation-slide-bottom-medium">
            <div class="uk-text-center">
                <a href="https://podprogramar.com.br/?utm_source=capiconf&utm_medium=home&utm_campaign=apoio"
                    target="_blank"><img src="../../../assets/2019/img/sponsors/podprogramar.png" width="70%"
                        data-uk-img alt="Podprogramar"></a>
            </div>
            <div class="uk-text-center">
                <a href="https://www.infoq.com/br/?utm_source=capiconf-2020&utm_medium=logo-infoq&utm_campaign=parceria-eventos"
                    target="_blank"><img class="uk-margin-small-top" src="../../../assets/partners/infoq.png"
                        width="70%" data-uk-img alt="InfoQ Brasil"></a>
            </div>
            <div class="uk-text-center">
                <a href="https://devnaestrada.com.br/?utm_source=capiconf&utm_medium=home&utm_campaign=apoio"
                    target="_blank"><img class="uk-margin-medium-top" src="../../../assets/2019/img/sponsors/dne.svg"
                        data-uk-img alt="Dev Na Estrada"></a>
            </div>
            <div class="uk-text-center">
                <a href="https://colaboradados.com.br/?utm_source=capiconf&utm_medium=home&utm_campaign=apoio"
                    target="_blank"><img src="../../../assets/partners/colaboradados.png" width="54%" data-uk-img
                        alt="Colaboradados"></a>
            </div>
        </div>
    </div>
    <div class="uk-padding" style="margin-top: 50px;"></div>
    <div class="uk-container">
        <div class="uk-text-center">
            <h4 class="uk-text-muted">COMUNIDADES QUE APOIAM O EVENTO</h4>
        </div>
        <div class="uk-margin-large"></div>
        <div class="uk-grid uk-grid-large uk-child-width-1-4@m" data-uk-grid
            data-uk-scrollspy="target: > div; delay: 150; cls: uk-animation-slide-bottom-medium">
            <div class="uk-text-center">
                <a href="https://wtmcuritiba.github.io/?utm_source=capiconf&utm_medium=home&utm_campaign=apoio"
                    target="_blank"><img src="../../../assets/partners/wtm_curitiba.png" width="70%" data-uk-img
                        alt="Women Techmakers Curitiba"></a>
            </div>
            <div class="uk-text-center">
                <a href="https://meetup.com/KotlinCWB?utm_source=capiconf-2020&utm_medium=logo-infoq&utm_campaign=parceria-eventos"
                    target="_blank"><img class="uk-margin-small-top" src="../../../assets/partners/kotlincwb.png"
                        width="45%" data-uk-img alt="Kotlin CWB"></a>
            </div>
            <div class="uk-text-center">
                <a href="https://womakerscode.org/?utm_source=capiconf&utm_medium=home&utm_campaign=apoio"
                    target="_blank"><img class="uk-margin-small-top" src="../../../assets/partners/wmc-600x600.png"
                        data-uk-img alt="Womakers Code"></a>
            </div>
            <div class="uk-text-center">
                <a href="https://www.meetup.com/ReactJS-CWB/?utm_source=capiconf&utm_medium=home&utm_campaign=apoio"
                    target="_blank"><img src="../../../assets/partners/reactCWB.png" width="54%" data-uk-img
                        alt="React CWB"></a>
            </div>
        </div>
    </div>
    <div class="uk-margin-large"></div>
</section>
<!-- /SUPPORT -->